@import url('https://fonts.google.com/specimen/Secular+One?query=Secu');

body {
    /* background-color: #01122a; */
    background-image: linear-gradient(to right, #01122a, #052f4c, #054f6e, #057190, #1395af);
    font-family: 'Secular One', sans-serif;
    font-size: medium;
    
}

.Head {
    text-align: center;
    text-decoration: solid;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}

.AAA{
color: white;
font-size: small;
font-weight: bolder;
}

.Nav ul{
padding: 0;
margin: 0;
display: flex;
}

.card-img-top {
  width:100px ;
  height: auto;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #487fae;
    display: block;
    width: 100%;
    height: 40px;
    box-shadow: 1px 1px 5px 1px black;
    border-radius: 5px ;
  }
  .container {
  display: grid;
  gap: 2rem;
border: 1px solid black;
  }

  .button-logo{
    border-radius: 50%;
    float: left;
    position: absolute;
    left: 12px;
    top : 20px;
  }

  .btn-logo {
    font-family: 'Secular One', sans-serif;
  }

 .card-1{
  display: grid;
  /* grid-template-columns: 100px; */
  border: 2px solid black;
background-color: white;
gap: 1.5rem;
font-family: 'Secular One', sans-serif;
 }

 .pic1{
  width: 100px;
  height: 10p0x;
 }

 .head{
  text-align: center;
  color: whitesmoke;
  text-transform: capitalize;
  

 }

 .contactUs{
  text-align: center;
  color: whitesmoke;
  /* text-transform: capitalize; */
  font-family: 'Secular One', sans-serif;
 }

 .aboutUs{
  text-align: center;
  color: whitesmoke;
  /* text-transform: capitalize; */
  font-family: 'Secular One', sans-serif;
 }



  .card{
    display: grid;
 /* background-color: black; */
padding: 30px;
border: 2px solid black;
grid-template-columns:repeat(3, 1fr);
padding-block: 2rem;
  }
    
  .login-btn {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
   float: right;
   padding-right: 1px;
    position: relative;
    width: 100px;
    bottom: 90px;
    right: 140px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
    font-family: 'Secular One', sans-serif;
   
  
  }

  button:hover {
background-color:#054f6e ;
  }
  
  
  .reg-btn {
    color: black;
    background-color: whitesmoke;
    border: 1px solid black;
   float: right;
   padding-right: px;
    position: relative;
    width: 135px;
    bottom: 90px;
    left: 98px;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.4s;
    font-family: 'Secular One', sans-serif;
 
  
  }


  .links a{
    float: left;
    color: whitesmoke;
    font-family: 'Secular One', sans-serif;
    text-indent: 225px;
    font-size: larger;
    font-style: oblique;
  }
  
  .navBar {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 0;
  }
  



/* login */


.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}




