body {
    background-color: #01122a;

font-size: medium;

}

.Head {
    text-align: center;
    text-decoration: solid;
    font-weight: bolder;
    font-size: xx-large;
    color: white;
}

.AAA{
color: white;
font-size: small;
font-weight: bolder;
}